{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'study/css/main.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'study/js/cond_one.js' %}"></script>

<h1 class='post-title'>Interaction 1 for Participant Number {{ participant_id }} (Echo model) </h1>

<div class='piano-containter'>
	<div class='piano'>
		<div class='piano-key piano-white C3'><label class='white-key-label lower-octave'>S</label></div>
		<div class='piano-key piano-black Cs3'><label class='black-key-label lower-octave'>E</label></div>
		<div class='piano-key piano-white D3'><label class='white-key-label lower-octave'>D</label></div>
		<div class='piano-key piano-black Ds3'><label class='black-key-label lower-octave'>R</label></div>
		<div class='piano-key piano-white E3'><label class='white-key-label lower-octave'>F</label></div>
		<div class='piano-key piano-white F3'><label class='white-key-label lower-octave'>G</label></div>
		<div class='piano-key piano-black Fs3'><label class='black-key-label lower-octave'>Y</label></div>
		<div class='piano-key piano-white G3'><label class='white-key-label lower-octave'>H</label></div>
		<div class='piano-key piano-black Gs3'><label class='black-key-label lower-octave'>U</label></div>
		<div class='piano-key piano-white A4'><label class='white-key-label lower-octave'>J</label></div>
		<div class='piano-key piano-black As4'><label class='black-key-label lower-octave'>I</label></div>
		<div class='piano-key piano-white B4'><label class='white-key-label lower-octave'>K</label></div>
		<div class='piano-key piano-white C4'><label class='white-key-label middle-octave'>S</label><label class='white-key-label lower-octave'>L</label></div>
		<div class='piano-key piano-black Cs4'><label class='black-key-label middle-octave'>E</label></div>
		<div class='piano-key piano-white D4'><label class='white-key-label middle-octave'>D</label></div>
		<div class='piano-key piano-black Ds4'><label class='black-key-label middle-octave'>R</label></div>
		<div class='piano-key piano-white E4'><label class='white-key-label middle-octave'>F</label></div>
		<div class='piano-key piano-white F4'><label class='white-key-label middle-octave'>G</label></div>
		<div class='piano-key piano-black Fs4'><label class='black-key-label middle-octave'>Y</label></div>
		<div class='piano-key piano-white G4'><label class='white-key-label middle-octave'>H</label></div>
		<div class='piano-key piano-black Gs4'><label class='black-key-label middle-octave'>U</label></div>
		<div class='piano-key piano-white A5'><label class='white-key-label middle-octave'>J</label></div>
		<div class='piano-key piano-black As5'><label class='black-key-label middle-octave'>I</label></div>
		<div class='piano-key piano-white B5'><label class='white-key-label middle-octave'>K</label></div>
		<div class='piano-key piano-white C5'><label class='white-key-label middle-octave'>L</label><label class='white-key-label upper-octave'>S</label></div>
		<div class='piano-key piano-black Cs5'><label class='black-key-label upper-octave'>E</label></div>
		<div class='piano-key piano-white D5'><label class='white-key-label upper-octave'>D</label></div>
		<div class='piano-key piano-black Ds5'><label class='black-key-label upper-octave'>R</label></div>
		<div class='piano-key piano-white E5'><label class='white-key-label upper-octave'>F</label></div>
		<div class='piano-key piano-white F5'><label class='white-key-label upper-octave'>G</label></div>
		<div class='piano-key piano-black Fs5'><label class='black-key-label upper-octave'>Y</label></div>
		<div class='piano-key piano-white G5'><label class='white-key-label upper-octave'>H</label></div>
		<div class='piano-key piano-black Gs5'><label class='black-key-label upper-octave'>U</label></div>
		<div class='piano-key piano-white A6'><label class='white-key-label upper-octave'>J</label></div>
		<div class='piano-key piano-black As6'><label class='black-key-label upper-octave'>I</label></div>
		<div class='piano-key piano-white B6'><label class='white-key-label upper-octave'>K</label></div>
	</div>
</div>
<p class='up-down-instruction'>Press Z to move down an octave, and X to move up an octave.</p>
<div class='submit-button'>
	<form action = "{% url 'study:cond_one_next' %}">
		<input id='next-button' type="image" src="../../../static/study/images/arrow.jpg" height="40" width="60" />
	</form>
</div>