{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'study/css/main.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'study/js/cond_two.js' %}"></script>

<h1 class='post-title'>Interaction 2 for Participant Number {{ participant_id }} (Pre-determined model) </h1>

<div class='piano-containter'>
	<div class='piano'>
		<div class='piano-key piano-white C3'></div>
		<div class='piano-key piano-black Cs3'></div>
		<div class='piano-key piano-white D3'></div>
		<div class='piano-key piano-black Ds3'></div>
		<div class='piano-key piano-white E3'></div>
		<div class='piano-key piano-white F3'></div>
		<div class='piano-key piano-black Fs3'></div>
		<div class='piano-key piano-white G3'></div>
		<div class='piano-key piano-black Gs3'></div>
		<div class='piano-key piano-white A4'></div>
		<div class='piano-key piano-black As4'></div>
		<div class='piano-key piano-white B4'></div>
		<div class='piano-key piano-white C4'></div>
		<div class='piano-key piano-black Cs4'></div>
		<div class='piano-key piano-white D4'></div>
		<div class='piano-key piano-black Ds4'></div>
		<div class='piano-key piano-white E4'></div>
		<div class='piano-key piano-white F4'></div>
		<div class='piano-key piano-black Fs4'></div>
		<div class='piano-key piano-white G4'></div>
		<div class='piano-key piano-black Gs4'></div>
		<div class='piano-key piano-white A5'></div>
		<div class='piano-key piano-black As5'></div>
		<div class='piano-key piano-white B5'></div>
		<div class='piano-key piano-white C5'></div>
		<div class='piano-key piano-black Cs5'></div>
		<div class='piano-key piano-white D5'></div>
		<div class='piano-key piano-black Ds5'></div>
		<div class='piano-key piano-white E5'></div>
		<div class='piano-key piano-white F5'></div>
		<div class='piano-key piano-black Fs5'></div>
		<div class='piano-key piano-white G5'></div>
		<div class='piano-key piano-black Gs5'></div>
		<div class='piano-key piano-white A6'></div>
		<div class='piano-key piano-black As6'></div>
		<div class='piano-key piano-white B6'></div>
	</div>
</div>

<div class='submit-button'>
	<form action = "{% url 'study:post' %}">
		<input type="submit" value="Done" />
	</form>
</div>