<h1> Evaluation of a Responsive Music Interaction System for Engaging Interaction </h1>
<p>This website is used in a study investigating evaluation metrics for machine learning models for music generation from an interaction perspective.</p>

<h2>What is this study about?</h2>
<p>TODO</p>

<h2>What can I do to help?</h2>
<p>TODO</p>

<h2>What will this study require me to do?</h2>
<p>TODO</p>

<h2>Who is running this study, and where can I find out more information</h2>
<p>TODO</p>

<p>If you have read all of the above, and would like to participate, please click <a href="pre/">here</a> to begin.</p>