{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'study/css/main.css' %}" />

<script type="text/javascript" src="{% static 'study/js/index.js' %}"></script>

<div id='container'>
	<h1 class='post-title'> Study: Evaluation of a Responsive Music Interaction System for Engaging Interaction </h1>
</div>
<div id='body'>
<p class='main_body_paragraph'>This website is used in a study investigating evaluation metrics for machine learning models for music generation from an interaction perspective.</p>

<h2 class='section-title'>What is this study about?</h2>
<ol>
	<li class='main_body_paragraph'>We are asking people to play music on a touchscreen piano, as a responsive music system based around Google’s Magenta models responds to their melodies with its own melodies, based around what they have played. We are asking them to provide feedback on their experience.</li>
	<li class='main_body_paragraph'>The feedback will be provided formally via two questionnaires, and informally through a video recording of the study session. Additionally, the tablet on which the interaction takes place will record data about the interaction, such as time spent interacting, as well as number of touches on the touch screen.</li>
</ol>

<h2 class='section-title'>How can I help?</h2>
<ol>
	<li>You will spend as much time as you like playing piano on a touchscreen tablet on a robot, and provide feedback on your experience.</li>
	<li>There are no risks beyond everyday risks. You will interact with some new technology, which has been designed with safety as a primary concern.</li>
	<li>There is no benefit from being involved in this study, beyond interacting with new technology and the enjoyment of playing music with accompaniment.</li>
	<li>You may choose not to answer any of the questions and you may end your involvement at any time, without any effect on you.</li>
</ol>

<h2 class='section-title'>What do I need to do?</h2>
<p class='main_body_paragraph'>If you agree to take part in the study we will first collect some basic information about you via a quick questionnaire. You will then spend as much time as you like (estimated to not be longer than 10 minutes) playing a virtual piano, while an AI responds to your playing with its own music. You will then repeat this process, however, the AI will use a slightly different algorithm to make decisions about the accompamiment it provides. You will then complete a post-study questionnaire.<br /><br />

The app you will use will record some information about how you use it, such as the time spent playing and the number of key presses.<br /><br />

By participating in this study, you consent to the unrestricted use of non-identiable data. This means that any data collected, in which you cannot be identified, may be shared as a resource for other researchers.

<h2 class='section-title'>How long will this take?</h2>
<p class='main_body_paragraph'>The pre- and post-study questionnaires will take approximately 5-10 minutes each, and the interactions will go for however long you like. It is predicted that each interaction will not exceed 10 minutes, but you are welcome to continue playing for as long as you like. Overall, the session is expected to take about 30 minutes.</p>

<h2 class='section-title'>What happens after?</h2>
<p class='main_body_paragraph'>Your feedback and the information about your playing and the systems response will be stored. Information gathered from the survey will be analysed, and the results will be summarised in a report as part of an undergraduate honours project in partial fulfillment of the degree of Engineering at the University of Queensland. Results will likely be used for comparison with a later system. If you like, we can send a summary of the report to you when it is finished. You are welcome to take part in the user testing for the later system. Non-identifying data may be released as a resource for other researchers.</p>

<h2 class='section-title'>Potential risks</h2>
<p class='main_body_paragraph'>There are no risks to participating in this study, beyond general risks involved in using a tablet device to play games. While the research team will manage data securely, there is a remote chance that a breach of confidentiality would enable other people to access non-identifying data about your questionnaire answers and interactions. No information will ever be stored (or requested) that can identify any individual person.</p>

<h2 class='section-title'>What do I do if I do not want to be involved?</h2>
<p class='main_body_paragraph'>It is completely up to you whether you decide to take part or not. If you decide to take part, it is fine if you then decide that you do not want to answer particular questions or wish to stop the interaction or questionnaires. You will have the opportunity to stop being part of the study at any stage. If you also wish to withdraw the information you have shared, we are able to do that up until the point you complete the study at that stage, your information is de-identified and cannot be removed. There will be no consequences for stopping, and you do not need to explain. However, you will not be able to be paid for the participation unless the full study is completed. On completion of the study, you will be provided with a password to supply on Mechanical Turk in order to be compensated for your participation.</p>

<h2 class='section-title'>What if I have more questions?</h2>
<p class='main_body_paragraph'>If you have further questions please contact Ashleigh Richardson (ashleigh.richardson@uqconnect.edu.au).
Thank you for your time and interest in the study. <br /><br /></p>

<h3 class='instruction'>If you have read all of the above, and consent to participate, please check the box below, and then click the arrow to move on to the start of the study.<br /></h3>

<p>I consent to participate in this study: <input type="checkbox" id="consentCheckbox" onclick="revealArrow()"></p>

<div class='submit-button' id='submit-button' style="display:none">
	<form action = "{% url 'study:instructions_one_ok' %}">
	<input id='next-button' type="image" src="../../../static/study/images/arrow.jpg" height="40" width="60" />
	</form>
</div>
</div>