{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'study/css/main.css' %}" />

<div id='container'>
<h1 class="post-title">Post-Study Questionnaire</h1>
</div>
<div id='body'>
<p class='main_body_paragraph'>Please answer the questions below. When you are done, please select 'Submit' to finish the study.</p>
<form action="{% url 'study:submitted_post' %}" method="post" novalidate>
  {% csrf_token %}
  <fieldset class="inlineLabels">
  <h3 class="instruction">Questions 1 - 9 relate to the first interaction you had.</h3>
  {% for field in form %}
  {% if forloop.counter == 10 %}
  <h3 class="instruction">Questions 10 - 18 relate to the second interaction you had.</h3>
  {% elif forloop.counter == 19 %}
  <h3 class="instruction">Questions 19 - 21 relate to your overall view of the AI after both interactions.</h3>
  {% endif %}
  <p>{{  field.label_tag  }}<br />{{  field  }}</p>
  {% endfor %}
  <button type="submit" value="Submit">Submit</button>
  </fieldset>
</form>