{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'study/css/main.css' %}" />

<div id='container'>
	<h1 class='post-title'> Thank You! </h1>
</div>

<p class='instruction-block'>Thank you for participating in this study. <br /><br />
Your code to be paid for your time is:<br />
&lt;Code functionality redacted after study was conducted&gt;<br /><br />

If you would like further information about this study, or if you would like to participate in future studies of a similar nature, please contact Ashleigh Richardson by emailing ashleigh.richardson@uqconnect.edu.au.<br /><br />

When you are ready, feel free to leave this website. All results are already stored.

</p>